.botao {
  background-color: #88bcd1;
  border-radius: 8px;
  color: #00A62E;
  cursor: pointer;
  font-size: 1.25rem;
  padding: 16px;
  width: 100px;
  
  &:active {
    background-color: #0a5c21;
    box-shadow: 2px 2px 4px #0000009F inset;
  }
}