.wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100%;
}
.conteudoPrincipal {
  padding: 40px;
  height: calc(100vh - 80px);
}
.accontCardWrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
  justify-content: space-between;
  padding-top: 16px;
}