.conteudo {
  display: grid;
  column-gap: 40px;
  grid-template-columns: 1fr auto;
  height: 100%;
}


.ultimosLancamento {
  width: 295px;
  overflow-y: scroll;
}

.ultimosLancamento, .lancamento{
  background-color: white;
  border: 1px solid #EFEFEF;
  border-radius: 8px;
  padding: 22px;
}